<span class="modalTitle">Verificação de senha</span>
<mat-divider style="margin-bottom: 10px;"></mat-divider>

<mat-form-field class="example-full-width userPass" appearance="outline">
    <mat-label>Senha do usuário</mat-label>
    <input matInput [(ngModel)]="pass" required>
</mat-form-field>

<div class="btnModal" style="float: left; width: 100%;">
    <button mat-raised-button color="warn" style="width: 40%;" (click)="close()">Fechar</button>
    <button mat-raised-button color="primary" style="width: 40%;" (click)="save()">Confirmar</button>
</div>